/* take from the lution site lol */

/* font from ggle inc */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* icon from gogle */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

/* stuff */
:root {
    --dc-font: "Rethink Sans", "Inter", ui-sans-serif, system-ui, sans-serif;
    --dc-font-mono: "Adwaita Mono", "Iosevka Mono", ui-monospace,
        "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    --dc-tx-1: light-dark(##323232, #ffffff);
    --dc-tx-2: light-dark(##2b2b2b, #ffffff);
    --dc-lk-1: light-dark(#3584e4, #3584e4);
    --dc-bg-3: display(none);
    --dc-bg-1: light-dark(#ffffff, #202020);
    --dc-bg-2: light-dark(#fafafa, #111111);
    --dc-ac-1: #364d6a; /* temp fix */
    /*--dc-ac-1: light-dark(#c2daf7, #364d6a)*/

    --full-mono: light-dark(#000, #fff);
    --active-button: light-dark(#e6e6e6, #3a3a3a);
    --darker-text: light-dark(#8f8f91, #a4a4a5);
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" var(--full-mono),
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.icon-color {
    color: var(--full-mono);
}

.nav-icon {
    width: 1.2em;
    height: 1.2em;
}

.active-button {
    background-color: var(--active-button);
    border-radius: 6px;
}

.important-button {
    background-color: var(--dc-lk-1);
    border-radius: 6px;
}

.darker-text {
    color: var(--darker-text);
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* other */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

::before {
    display: none;
}

body main {
    border-radius: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

nav {
    margin-top: 6px;
    margin-bottom: -4px;
    line-height: 1.3;
}

ul li a {
    color: var(--dc-tx-1);
    display: block;
    padding: 8px 14px;
}

nav ul li {
    font-weight: bold;
    margin: 0% 25%;
    border-radius: 6px;
    transition: ease-in 0.1s;
}

nav ul li:hover {
    background-color: var(--active-button);
}

nav ul li a {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

sub {
    font-size: 10px;
    color : #808080;
}


pre {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  margin: 1em 0;
}

