        <footer>
            <p>
                Website by <a href="https://github.com/equinoxhq">EquinoxHQ</a>, Forked By <a href="">LutionHQ</a> Website
                <a href="https://github.com/lutionhq/lutionhq.github.io"
                    >Source code</a
                >.
            </p>
            <p>
                This page is built with
                <a href="https://devcss.devins.page">dev.css</a>. Nav icons from
                Gnome
                <a href="https://gitlab.gnome.org/GNOME/adwaita-icon-theme"
                    >adwaita-icon-theme</a
                >.
            </p>
        </footer>